# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Visual Studio folder
.vs/

# Visual Studio Build Folders
**/Debug/
**/Release/
x64/
x86/

# Visual Studio temporary files
*.VC.db
*.VC.opendb
*.sdf
*.suo
*.user
*.ipch

# Project system files
*.log
*.tlog/
*.lastbuildstate

# Rider/JetBrains
.idea/

# VSCode settings
.vscode/
